.body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 200px;
    max-height: 200px;
    overflow: hidden;
    
}

.postcard_divider {
    margin-left: 50px;
    margin-right: 50px;
}

.text {
    max-height: 200px;
}

.card_img {
    max-width: 100%;
    height: 75%;
    max-height: 100%;
    object-fit: contain;

    
}


.postcards {
    border: 0px !important;
    margin-left: 50px;
    margin-right: 50px;
}


.postcards:hover {
    background-color: rgba(56, 53, 53, 0.022);
}

.date {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}
