
.nav_bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav_item {
    min-width: 200px;
}


/*
.active {
    background-color: #04AA6D;
    color: white;
  }
  */